@font-face {
  font-family: "Barlow";
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Barlow-SemiBold.woff2") format("woff2"),
  }

@font-face {
  font-family: "Fraunces";
  font-weight: 700;
  font-display: swap;
  src: url('/Fraunces_9pt_Soft-Bold.woff2') format("woff2"),
  }

@font-face {
  font-family: "Fraunces";
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/Fraunces_9pt_Soft-Black.woff2') format("woff2"),
  }
