---
import FeaturesGrid from "../components/FeaturesGrid.astro"
import Header from "../components/Header.astro"
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout title="Frontend Mentor | Sunnyside agency landing page">
  <Header />
  <main>
    <FeaturesGrid />
  </main>
</BaseLayout>
