---
// Layout import
import BaseLayout from "../layouts/BaseLayout.astro"

// Component imports
import FeaturesGrid from "../components/FeaturesGrid.astro"
import Header from "../components/Header.astro"
import Testimonials from "../components/Testimonials.astro"
import ImageGallery from "../components/ImageGallery.astro"
import Footer from "../components/Footer.astro"
---

<BaseLayout title="Frontend Mentor | Sunnyside agency landing page">
  <Header />
  <main>
    <FeaturesGrid />
    <Testimonials />
    <ImageGallery />
  </main>
  <Footer />
</BaseLayout>
