---
// Library imports
import { getImage } from "astro:assets"
import { Icon } from "astro-icon/components"

// Image imports
import bgMobile from "../images/mobile/header.jpg"
import bgDesktop from "../images/desktop/header.jpg"

// Component imports
import PrimaryNavigation from "./PrimaryNavigation.astro"
import Picture from "./Picture.astro"
---

<header>
  <div class="bg">
    <Picture
      imageDesktop={bgDesktop}
      imageMobile={bgMobile}
      breakpoint="45em"
      altText=""
    />
  </div>

  <div class="container" data-type="wide">
    <div class="inner">
      <Icon name="logo" />
      <PrimaryNavigation />
    </div>
    <div class="hero">
      <h1 class="heading-1">We are creatives</h1>
      <Icon name="arrow-down" width={30} height={107} />
    </div>
  </div>
</header>

<!-- Styles -->

<style lang="scss">
  @use "../sass/abstracts" as *;

  header {
    display: grid;
    grid-template-areas: "stack";

    > * {
      grid-area: stack;
    }
  }

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: 2rem;
  }

  [data-icon="logo"] {
    width: 124px;
    height: 24px;

    @include mq(medium) {
      width: 170px;
      height: 33px;
    }
  }

  .hero {
    text-align: center;

    h1 {
      margin-block: 5.5rem 3.25rem;

      @include mq(medium) {
        margin-block: clamp(4rem, -11rem + 33.3333vi, 6.5rem)
          clamp(1rem, -17rem + 40vi, 6rem);
      }
    }
  }
</style>
