@use '../abstracts/' as *;


.btn {
  display: inline-flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  font-family: $button-font-family;
  font-size: $button-font-size;
  text-transform: $button-text-transform;
  font-weight: $button-font-weight;
  padding: $button-padding;
  border: $button-border;
  border-radius: $button-border-radius;
  transition: 275ms ease-in;

  &[data-type="primary"] {
    background-color: $button-primary-background;
    color: $button-primary-color;
      
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transform: scaleX(0);
      transform-origin: right;
      background-color: $button-primary-background-hover;
      transition: transform 275ms ease-in;
    }
        
    &:is(:hover, :focus-visible) {
      color: $button-primary-color-hover;

      &::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }
}
